<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316924966285-75rllmpb7nhv426ccs0att6kdm167veg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316924966285-75rllmpb7nhv426ccs0att6kdm167veg</string>
	<key>API_KEY</key>
	<string>AIzaSyCKoU3qd2X0vAYYSq8i6Q1rlTMunRGXv2M</string>
	<key>GCM_SENDER_ID</key>
	<string>316924966285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.92pino.UberTutorial</string>
	<key>PROJECT_ID</key>
	<string>ubertutorial-284de</string>
	<key>STORAGE_BUCKET</key>
	<string>ubertutorial-284de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316924966285:ios:c874e6ae41b3f098a4f9c4</string>
	<key>DATABASE_URL</key>
	<string>https://ubertutorial-284de.firebaseio.com</string>
</dict>
</plist>